/* Mobile styles - Default */
:root {
  --primary-color: peachpuff;
  --secondary-color: #7c4700;
  --tertiary-color: #e2ceb1;
  --main-font: "Arial", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--secondary-color);
}
.container {
  max-width: 75rem;
  min-height: 10rem;
  margin: auto;
  background-color: none;
  padding: 1rem;
}
e2ceb1 #pageheader {
  background-color: #e2ceb1;
  min-height: auto;
  padding: 0.25rem;
}

#logo {
  background-image: url(Images/Heroimage2.png);
  width: 6.25rem;
  height: 6.25rem;
  border: 1px solid none;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  transition: all 2s;
}

#pageheader .container {
  background-color: #e2ceb1;
  min-height: auto;
}

#pageheader nav {
  text-align: center;
}

#pageheader nav ul {
  background-color: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#pageheader nav ul li {
  border: 2px solid black;
  padding: 1rem;
  margin: 2px;
  background-color: aliceblue;
}

#pageheader nav ul li:hover {
  background-color: blue;
}
#media {
  background-color: var(--primary-color);
  min-height: 10rem;
  padding: 1rem;
  background-image: url(Images/Heroimage2.png);
  background-size: cover;
  aspect-ratio: 16 / 9;
}
#career {
  background-color: rosybrown;
  min-height: 10rem;
  padding: 1rem;
}
#pagecontent {
  background-color:;
  min-height: 10rem;
  padding: 1rem;
}
#semester1 {
  background-color: lavender;
  min-height: 10rem;
  padding: 1rem;
}
#semester2 {
  background-color: #f5deb3;
  min-height: 10rem;
  padding: 1rem;
}
#pagefooter {
  background-color: var(--tertiary-color);
  min-height: auto;
  padding: 1rem;
}
#pagefooter .container {
  background-color: var(--primary-color);
  min-height: auto;
  text-align: center;
}

#aifooter {
  padding: 1rem;
  background-color: peachpuff;
  min-height: auto;
}

#aifooter .container {
  min-height: auto;
  text-align: center;
}

#subfooter {
  background-color: #f5deb3;
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}
audio {
  border: 5px solid midnightblue;
  background-color: midnightblue;
  display: block;
  margin: auto;
}
/* Tablet view */
@media screen and (min-width: 600px) {
  #pageheader nav ul {
    margin-top: 2rem;
  }

  #pageheader nav ul li {
    display: inline-block;
  }

  #pagecontent {
    background-color: snow;
  }
  #logo {
    margin: 0;
  }
}
/* Desktop View */
@media screen and (min-width: 1000px) {
  #pagecontent {
    background-color: var(--secondary-color);
  }
}
